@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Geist", sans-serif;
}

body {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

.selector {
    width: 100%;
    height: 12vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100vw;
    min-height: 87vh;
    background-color: #F9FAFB;
    border-top: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.filter-container {
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.state-container {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.state-container label {
    font-size: 0.8rem;
    color: #505050;
}

.state-container select {
    background-color: transparent;
    border: 1px solid #b2b2b2;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
}

/*.options-container {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*}*/

.team-images-container {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*gap: 35px;*/
    align-items: flex-start;
}

#team-header {
    /*height: 10%;*/
    font-size: 0.75rem;
    color: #444444;
}

.team-container {
    /*background-color: red;*/
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.team-option {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.team-option:hover {
    cursor: pointer;
    border: 1px solid cornflowerblue;
    background-color: #f5f9ff;
}
.team-selected {
    border: 1px solid cornflowerblue;
    background-color: #f5f9ff;
}

.logo {
    width: 70%;
    height: 70%;
    /*background-color: #f8f8f8;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    /*width: 100%;*/
    height: 90%;
    aspect-ratio: 1/1;
}

.stadium-section {
    padding: 10px;
    width: 85%;
    height: 16%;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*gap: 5px;*/
}

.stadium-section p {
    font-size: 0.8rem;
    color: #444444;
}

.stadium-options-container {
    width: 100%;
    height: 60%;
    /*background-color: yellow;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    /*overflow-y: hidden;*/
    scrollbar-width: none;
}

.stadium-option {
    aspect-ratio: 3.5/1;
    position: relative;
    height: 75px;
    max-width: 350px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    box-shadow: -1px 6px 5px -1px rgba(0,0,0,0.34);
    transition: all 0.2s ease-in-out;
}

.stadium-option:hover {
    cursor: pointer;
    transform: scale(1.025);
}

.bar-overlay {
    height: 100%;
    min-width: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stadium-selected {
    background: linear-gradient(to right, #2D64C2, #173EAD);
}
.stadium-unselected {
    background: linear-gradient(to right, #949494, #626262);
    opacity: 0.4;
}

.circle-large {
    width: 40%;
    height: 40%;
    background-color: #96b1d2;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-small {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 100%;
    opacity: 100%;
}

.stadium-details {
    padding: 10px;
}

.capacity {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #444444;
    font-size: 0.9rem;
}

.games-section {
    position: relative;
    width: 85%;
    min-height: 62vh;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 60px;
}

.toggle-container {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.toggle-container p {
    font-size: 0.8rem;
    color: #444444;
}

.toggle-container button {
    /*background-color: white;*/
    border: 1px solid #dfdfdf;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
    transition: all 0.2s ease-in-out;
}

.toggle-container button:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}

.toggle-selected {
    background-color: #f4f4f4;
}
.toggle-unselected {
    background-color: white;
}

#round-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#stadium-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button-container {
    display: flex;
}





.game-collection {
    width: 95%;
    /*height: 12vh;*/
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    row-gap: 30px;
    column-gap: 50px;
}

.game {
    position: relative;
    width: 100%;
    height: 85%;
    /*background-color: blue;*/
    box-shadow: -1px 6px 5px -1px rgba(0,0,0,0.34);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: slowRise 0.5s ease-out forwards;
}

@keyframes slowRise {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.top-bar {
    width: 100%;
    height: 20%;
    background-color: #007598;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 0.8rem;
    color: white;
    display: flex;
    justify-content: center;
}
.main-game {
    width: 100%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.main-game p {
    /*position: absolute;*/
    font-size: 0.75rem;
}
.image-overlays {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
}

.image-overlays img{
    position: absolute;
    height: 100%;
    opacity: 0.35;
}

#right {
    right: 0;
}

.info-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 0 0 0;
}

.info-stadium {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 3px;
}

#stadium-header {
    font-size: 0.9rem;
    color: #444444;
    user-select: none;
}

#stadium-secondary {
    color: #444444;
    font-size: 0.65rem;
}

#ticket-btn {
    background-color: #007598;
    color: white;
    border: 1px solid #dfdfdf;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
#ticket-btn:hover {
    cursor: pointer;
    transform: scale(1.025);
}

#ticketAnchor {
    width: 100%;
    height: 100%;
}

.checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-right: 25px;
}

.checkbox-container label {
    font-size: 0.8rem;
    color: #444444;
    user-select: none;
}